.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  width: 90%;
  margin: 0;
}

.header-img {

}

.add-note-button-container {
  position: fixed;
  bottom: 5%;
  right: 2%;

  button {
    border-radius: 100%;
  }

}
