<app-header [showBackButton]="false"></app-header>

<app-page-content>
  <app-search-sort
    class="bottom-vertical-spacing"
    (search)="searchNotes($event)"
    (sort)="sortNotes($event)"
  ></app-search-sort>
  <app-tags-container
    class="bottom-vertical-spacing"
    [tags]="tags"
  ></app-tags-container>
  <app-notes-container
    class="bottom-vertical-spacing"
    [notes]="(notes | async)!"
  ></app-notes-container>
  <div class="add-note-button-container">
    <button
      mat-fab
      routerLink="create-note"
      color="primary"
      aria-label="Add Note button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</app-page-content>
