.note-content-container {
  margin-top: 2vh;
  min-height: 50vh;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  width: 90%;
  margin: 0;
}
