<app-header [showBackButton]="true" [title]="note.title">
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/notes/edit-note/{{ note.id }}">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteNote(note.id)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</app-header>

<app-page-content>
  <div>
    <p class="note-modified-date">
      Last modified:
      {{ note.lastModified || note.dateCreated | date: "shortDate" }}
    </p>

    <!--    <app-tags-container [tags]="tags"></app-tags-container>-->

    <mat-card class="note-content-container">
      <mat-card-content>
        <p>
          {{ note.content }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</app-page-content>
