<app-header [showBackButton]="true">
  <h2 class="header-title">New note</h2>
</app-header>

<app-page-content>
  <form [formGroup]="noteForm" (submit)="createNote()">
    <mat-form-field appearance="outline" class="note-title">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="E.g My Note " />
    </mat-form-field>

    <app-tags-container [tags]="tags" [editMode]="true"></app-tags-container>

    <mat-form-field appearance="outline" class="note-content">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        formControlName="content"
        placeholder="Ex. It makes me feel..."
      ></textarea>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      class="note-submit-button"
      [disabled]="noteForm.invalid"
    >
      Save
    </button>
  </form>
</app-page-content>
