/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card {
  box-shadow:
    1px 1px 1px -1px rgba(0, 0, 0, 0.2),
    1px 1px 1px 2px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.2) !important;
}

mat-card-header {
  background: var(--mat-badge-background-color) !important;
  margin-bottom: 1vh;
}

mat-card-title {
  color: white !important;
}
